@model IEnumerable<Retail_Data_Tracker.Models.Item>

@{

    Layout = null;

}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Inventory</title>
    </head>
    <body>
        <div class="panel-body">
            <h2>Current Inventory</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>@*TODO: clickable to navigate to item's specific page*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (Retail_Data_Tracker.Models.Item i in Model) {
                    <tr>
                        <td>@i.Name</td>
                    </tr>
                }
                </tbody>
            </table>
            @* todo: create controller class to direct these buttons properly *@
            @* todo: create Item class with name, quantity, supplier, buy cost, sell cost, anything else *@
            @* todo: create invoice creation form for clients that CreateInvoice button leads to*@
        </div>
    </body>
</html>