@model Retail_Data_Tracker.Models.OrderDetailsViewModel

<h2>Order Details</h2>

<h3>Order Total: $@Model.OrderTotal.ToString("0.00")</h3>

<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemQuantities)
        {
            <tr>
                <td>@item.Item.Name</td>
                <td>@item.Item.ItemDesc</td>
                <td>@item.Quantity</td>
                <td>@((item.Item.SellCost * item.Quantity).ToString("C2"))</td>
            </tr>
        }
    </tbody>
</table>
